body {
    font-family: 'Work Sans', sans-serif;
}

ul {
    text-decoration: none;
}

.header {
    background-color: #F3C6BD;
    padding: 50px 0 76px;
}

.conteiner {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_img {
    margin-right: 15px;
}

.logo__title {
    font-weight: 700;
    font-size: 20px;
    color: #2B292D;
    margin-bottom: 10px;
}

.logo__text {
    font-weight: 400;
    font-size: 20px;
    color: #2B292D99;
    opacity: 0.6;
}

.header__link {
    text-decoration: none;
    font-size: 18px;
    color: #2B292D;
    position: relative;
}

.header__li:not(:first-of-type) {
    margin-left: 30px;
}

.header__li:last-of-type {
    margin-right: 77px;
}

.header__link:hover::before {
    content: '';
    width: 90%;
    height: 2px;
    background-color: #2B292D;
    opacity: 0.7;
    position: absolute;
    bottom: -3px;
    transition: 400ms ease;
}

.header__link:hover {
    font-weight: 700;
    transition: 400ms ease;
}

.button {
    box-sizing: border-box;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 17px 28px;
    cursor: pointer;
}

.build {
    background-color: #F3C6BD;
    padding-bottom: 77px;
}

.width {
    position: relative;
}

.build__content__title {
    position: relative;
    z-index: 3;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 754px;
    margin-bottom: 34px;
    top: -7px;
}

.build__content__text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 58px;
    max-width: 456px;
}

.build__img {
    position: absolute;
    background-image: url(../img/build/build__img.jpg);
    width: 796px;
    height: 448px;
    right: -107px;
    top: 0;
}

.reverse {
    color: #3040C4;
    background: #FFFFFF;
}

.flex__button {
    display: flex;
    gap: 10px;
}

.question {
    padding: 77px 0;
    background: #F4F5F7;
}

.question__wrapper {
    max-width: 555px;
}

.question__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.question__text {
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.logo__section {
    padding: 30px 0 106px;
}

.features {
    padding-bottom: 103px;
}
.details{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 20px;
}
summary {
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 22px;
}
.icon_one::before {
    content: url(../img/features/Icon.svg);
    padding-right: 0.5em;
}

.details[open] > .icon_one::before {
    content: url(../img/features/Icon.svg);
}
.icon_two::before {
    content: url(../img/features/Icon_2.svg);
    padding-right: 0.5em;
}

.details[open] > .icon_two::before {
    content: url(../img/features/Icon_2.svg);
}
.icon_three::before {
    content: url(../img/features/Icon_3.svg);
    padding-right: 0.5em;
}

.details[open] > .icon_three::before {
    content: url(../img/features/Icon_3.svg);
}

.features_direction {
    align-items: flex-start;
    position: relative;
}

.features__img {
    background-image: url(../img/features/right_img.jpg);
    width: 684px;
    height: 591px;
    position: absolute;
    right: -126px;

}

.features__content {
    max-width: 462px;
    position: relative;
}
.features__content::before{
    content: url(../img/features/before.svg);
    position: absolute;
    left: -130px;
    bottom: 150px;
}

.features__logo {
    font-size: 22px;
    color: #009B4D;
    margin-bottom: 24px;
}

.features__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 30px;
}

.features__text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 42px;
}

.features__flex {
    justify-content: start;
}

.features_info__img {
    margin-right: 15px;
}

.features_info__wrapper {
    margin-bottom: 27px;
}

.features_info hr {
    max-width: 457px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.team-inbox {
    padding: 117px 0;
    background-color: rgba(252, 240, 227, 0.4);
    mix-blend-mode: normal;
}

.team-inbox__img {
    background-image: url(../img/team-inbox/team-inbox_img.svg);
    width: 425px;
    height: 510px;
}

.team-inbox__content {
    max-width: 519px;
}

.team-inbox_logo {
    font-size: 22px;
    color: #F1592B;
    margin-bottom: 26px;
}

.team-inbox__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 26px;
}
.team-inbox__text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
    max-width: 462px;
}
.team-inbox__comment {
    padding: 30px 30px 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-bottom: 4px solid #0185D0;
}
.team-inbox__flex{
    justify-content: flex-start;
}
.team-inbox__comment__text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}
span{
    font-weight: 700;
}
.team-inbox__card_img{
    border-radius:50%;
    margin-right: 11px;
}
.team-inbox__card_name{
    font-weight: 700;
    font-size: 16px;
    color: #2B292D;
    margin-bottom: 5px;
}
.team-inbox__card_text{
    font-size: 16px;
    color: #2B292D;
    opacity: 0.6;
}
.communicate-better{
    padding: 110px 0 105px;
}
.communicate-better__wrapper{
    margin-bottom: 105px;
}
.communicate-better__flex{
    justify-content: start;
    gap: 193px;
}
.communicate-better__color{
    color: #0189D1;
}
.communicate-better__img{
    background-image: url(../img/communicate-better/communicate-better__img.svg);
    width: 425px;
    height: 426px;
}
.communicate-better__info__ul{
    align-items: start;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
}
.communicate-better__info__li{
    max-width: 360px;
}
.communicate-better__info__text{
    margin-bottom: 10px;
}
.communicate-better__info__link{
    font-weight: 700;
    color: #3040C4;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4 ,262px);
    column-gap: 30px;

}
.engage-visitors{
    padding: 108px 0 110px;
    background-color: rgba(0, 161, 198, 0.07);
    mix-blend-mode: normal;
    text-align: center;
}
.engage-visitors__flex{
    flex-direction: column;
}
.engage-visitors__content{
    max-width: 555px;
    margin: 0 auto;
    margin-bottom: 111px;
}
.engage-visitors__logo{
    font-weight: 700;
    font-size: 22px;
    color: #2B292D;
    margin-bottom: 24px;
}
.engage-visitors__title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 30px;
}
.engage-visitors_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 34px;
}
.engage-visitors__button{
    gap: 10px;
}
.engage-visitors__li{
    width: 262px;
    height: 300px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-top: 22px;
}
.engage-visitors__icon{
    margin-bottom: 22px;
}
.engage-visitors__icon-text{
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #2B292D;
}
.engage-visitors__li p{
    color: inherit;
}
.engage-visitors__li:hover{
    background: #3141C5;
    box-shadow: 0px 13px 18px -8px rgba(0, 0, 0, 0.15), 0px 11px 55px 10px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    color: #FFFFFF;
    transition: 0.5s;
}
.comment--slider{
    padding-bottom: 66px;
    text-align: center;
    position: relative;

}
.slider__wrapper{
    position: relative;
}
.comment--slider__content__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3142C6;
    margin-bottom: 28px;
}
.comment--slider__content__text{
    max-width: 750px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin: 0 auto;
    margin-bottom: 34px;
}
.comment--slider__content__card{
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2B292D;
    position: relative;
}
.comment--slider__card__job{
    opacity: 0.6;
    font-weight: 400;
}
.comment--slider::after{
    content: url(../img/comment--slider/after.png);
    position: absolute;
    right: 0;
    top: 140px;
}
.form{
    padding: 72px 0;
    background: #F4F5F7;
}
.form__flex{
    align-items: start;
}
.form__img{
    background-image: url(../img/form/form__img.png);
    width: 270px;
    height: 296px;
}
.form__content{
    max-width: 555px;
}
.form__content_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2B292D;
    margin-bottom: 12px;
}
.form__content__text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 26px;
}
.forma{
    display: flex;
    align-items:center;
    justify-content: space-between; margin-bottom: 28px;
}
.form__content__input{
    background: #FFFFFF;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    width: 385px;
    height: 48px;
    box-sizing:border-box;
}
.form__content__input::placeholder{
    font-size: 18px;
    line-height: 13px;
    color: #2B292D;
    padding: 17px 0 18px 15px;
}
.form__content__disctiption{
    font-size: 14px;
    color: #2B292D;
    opacity: 0.6;
}
.form__content_link{
    color: #3142C6;
}
.footer{
    padding: 134px 0 47px;
    position: relative;
}
.footer__ul{
    margin-bottom: 47px;
}
.flex__li{
    align-items: start;
}
.footer__li{
    max-width: 360px;
}
.footer__flex{
    padding: 0;
    margin-bottom: 26px;
    justify-content: start;
}
.footer__li__text{
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 25px;
}
.footer__li__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 18px;
}
.footer__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}
.terms{
    padding: 13px 0 52px;
}

.terms__link{
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}
.terms__link:not(:last-of-type){
    margin-right: 20px;
}
.footer::after{
    content:'';
    width: 1400px;
    height: 1px;
    background: #2B292D;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    top: 420px;
}
.galery{
    padding: 90px 0;
}
.galery__wrapper{
    display: grid;
    grid-template-columns:repeat(3,347px);
    grid-template-rows: repeat(3,208px);
    gap: 42px 50px;
}
.galery__content{
    max-width: 588px;
    margin: 0 auto;
    margin-bottom: 97px;
    text-align: center;
}
.galery__title{
    font-weight: 700;
    font-size: 56px;
    color: #000000;
    margin-bottom: 26px;
}
.galery__text{
    font-size: 24px;
    line-height: 34px;
    color: #172342;
}
.galery__img:nth-child(3),.galery__img:nth-child(4){
    grid-row: span 2;
}
.bx-wrapper {
    -webkit-box-shadow:none;
    box-shadow:none;
    border:none;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(102, 102, 102,0.6);

}
.bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #3040C4;
    opacity: 1;
}
.biger{
    height: 126px;
}
.add_text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 20px;
}
.display__none{
    display: none;
}